
<table>
  <tr>  
    <td valign="top">
      <div id="gmap">
        <%= @map.div(:width => 600, :height => 400) %>
      </div>
    </td>
    <td valign="top">
      <%- form_tag("/") do -%>
        <h3>News Finder:</h3>
        <label><%= check_box_tag :kesehatan, "1", params[:kesehatan], :onclick => "this.form.submit()" %>&nbsp;Kesehatan</label><br />
        <label><%= check_box_tag :olahraga, "1", params[:olahraga], :onclick => "this.form.submit()" %>&nbsp;Olahraga</label><br />
        <label><%= check_box_tag :pendidikan, "1", params[:pendidikan], :onclick => "this.form.submit()" %>&nbsp;Pendidikan</label><br />
        <label><%= check_box_tag :trend_teknologi, "1", params[:trend_teknologi], :onclick => "this.form.submit()" %>&nbsp;Trend Teknologi</label>
        <p>
          <%= text_field_tag :q, @searched_string, 
              :class => "search_box", 
              :style => "color:grey;",
              :id => "search_box", 
              :onblur => "toggle_default_text('show', 'search_box', 'Enter keywords here')",
              :onfocus => "toggle_default_text('hide', 'search_box', 'Enter keywords here')" %>
        </p>
        <p>
          <%= submit_tag "Search", :name => nil %>&nbsp;
          <span id="spinner" style="display:none;color:red;"><strong>Loading...</strong></span>
        </p>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <td valign="top" width="600">
      <div id="fetched_news">
        <%= render :partial => 'fetched_news', :locals => {:news => @fetched_news} unless @fetched_news.blank? %>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>